@media screen and (max-width: 991px) {
    nav.siteNAv {
        position: static;
        background-color: rgb(245, 159, 10) !important;
    }
    li.contactUs,
    .navColor::before {
        display: none;
    }
    img.menuImage {
        max-width: 40px;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent;
    }
    button:focus {
        outline: none;
    }
    .navColor {
        background-color: transparent;
        position: relative;
        padding-right: 0;
    }
    .navbar-light .navbar-nav .nav-link {
        font-size: 16px;
        font-weight: 600;
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: #fff !important
    }
    .sliderContent {
        width: 60%;
        height: 85vh;
    }
    .mainSlider .carousel-inner .carousel-item>img {
        height: 85vh;
    }
    .sliderContent.d-flex.justify-content-center.align-items-center {
        justify-content: flex-start !important;
        padding-left: 5%;
    }
    .container {
        max-width: 90%;
    }
    .conseilDu h1 {
        font-size: 14px;
    }
    .cote h2 {
        font-size: 12px;
    }
    section.pricingTable.p-50 .col-md-10.m-auto {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    section.services.p-50 .col-md-6.d-flex.justify-content-center.align-items-center {
        display: none !important;
    }
    .servicesInner {
        margin-bottom: 50px;
    }
    .row.no-gutters.shadow {
        text-align: center;
    }
    .notre h1 {
        padding-left: 0;
    }
    .cote {
        display: grid;
    }
    .cote.pl-50 {
        padding-left: 0;
    }
    .tableInner {
        grid-template-columns: 100%;
        grid-column-gap: 0;
    }
    .tableInner > div {
        margin-bottom: 30px;
    }
    .testimonyBox {
        margin: 0 auto 30px !important;
    }
    .footerlogo {
        margin-bottom: 25px;
    }
    .footerlist {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 688px) {
    .sliderContent {
        background-image: none !important;
    }
    .sliderContent.d-flex.justify-content-center.align-items-center {
        justify-content: center !important;
        padding-left: 0;
        width: 100%;
    }
    .sliderContent p {
        text-align: center;
        max-width: 100%;
    }
    .sliderContent > div {
        text-align: center;
        max-width: 70%;
    }
}
